<%= form_for(@curso) do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :profesor_id %><br>
    <%= f.number_field :profesor_id %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :semestre %><br>
    <%= f.number_field :semestre %>
  </div>
  <div class="field">
    <%= f.label :año %><br>
    <%= f.number_field :año %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
