<p id="notice"><%= notice %></p>

<h1>Listing Respuesta</h1>

<table>
  <thead>
    <tr>
      <th>Modulo</th>
      <th>Encuestado</th>
      <th>Encuestador</th>
      <th>Evaluacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respuesta.each do |respuestum| %>
      <tr>
        <td><%= respuestum.modulo %></td>
        <td><%= respuestum.encuestado_id %></td>
        <td><%= respuestum.encuestador_id %></td>
        <td><%= respuestum.evaluacion_id %></td>
        <td><%= link_to 'Show', respuestum %></td>
        <td><%= link_to 'Edit', edit_respuestum_path(respuestum) %></td>
        <td><%= link_to 'Destroy', respuestum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respuestum', new_respuestum_path %>
