<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @alumno.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @alumno.apellido_materno %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @alumno.usuario_id %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
