<p id="notice"><%= notice %></p>

<h1>Listing Encuesta</h1>

<table>
  <thead>
    <tr>
      <th>Encuesta</th>
      <th>Encuesta estado</th>
      <th>Encuesta nombre</th>
      <th>Encuesta descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encuestas.each do |encuesta| %>
      <tr>
        <td><%= encuesta.Encuesta_id %></td>
        <td><%= encuesta.Encuesta_estado %></td>
        <td><%= encuesta.Encuesta_nombre %></td>
        <td><%= encuesta.Encuesta_descripcion %></td>
        <td><%= link_to 'Show', encuesta %></td>
        <td><%= link_to 'Edit', edit_encuesta_path(encuesta) %></td>
        <td><%= link_to 'Destroy', encuesta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encuestum', new_encuesta_path %>
