<p id="notice"><%= notice %></p>

<p>
  <strong>Encuesta:</strong>
  <%= @encuesta.Encuesta_id %>
</p>

<p>
  <strong>Encuesta estado:</strong>
  <%= @encuesta.Encuesta_estado %>
</p>

<p>
  <strong>Encuesta nombre:</strong>
  <%= @encuesta.Encuesta_nombre %>
</p>

<p>
  <strong>Encuesta descripcion:</strong>
  <%= @encuesta.Encuesta_descripcion %>
</p>

<%= link_to 'Edit', edit_encuesta_path(@encuesta) %> |
<%= link_to 'Back', encuestas_path %>
