<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @encuestum.estado %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @encuestum.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @encuestum.descripcion %>
</p>

<p>
  <strong>Tipo encuesta:</strong>
  <%= @encuestum.tipo_encuesta_id %>
</p>

<%= link_to 'Edit', edit_encuestum_path(@encuestum) %> |
<%= link_to 'Back', encuesta_path %>
