<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @usuario.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @usuario.correo %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @usuario.rol %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
